<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}">
    <style>
        .form-control-inline {
            min-width: 0;
            width: auto;
            display: inline;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row text-center">
            <h1 class="text-muted"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-blackboard text-muted"></span></a>&nbsp;봉부자 자재 관리</h1>
        </div>
        <div class="row">
            <form method="POST" class="post-form">
                {%csrf_token%}
                <hr/>
                <div class="col-md-4 col-md-offset-4">
                    <table class="form-table">
                        <colgroup>
                            <col width="40%"/>
                            <col width="60%"/>
                        </colgroup>
                        {{form.as_table}}
                    </table>
                    <div class="text-center">
                        <button type="submit" class="save btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'jQuery/jquery-3.2.1.min.js'%}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript">
        var item = $(".form-table tbody th");
        item.each(function() {
            $(this).addClass("text-right");
            $(this).css("padding-right","20px");
            $(this).text($(this).text().slice(0,-1));
        });
        $(".form-table tbody th").height("50px");
        $("#id_isDisposal").parent().append("<span class='text-info'>&nbsp;* 폐기 시 체크</span>");
        $("#id_madeYear_month").css("margin","0 10px");
    </script>
  </body>
</html>
